.jumbotron {
    background-color: #979dab;
    padding-top: 2rem;
    margin-top: 2rem;
}

.container1 {
    background-color:;
}

.container1 .figure {
    margin: 2rem;
}

.container2 {
        background-color: #979dab;
}